@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=WindSong:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: inter, sans serif;
}
.bgYellow {
    background-color: #F3C827;
}

.displayFlex {
    display: flex;
    flex-wrap: wrap;
}
.spaceBetween {
    justify-content: space-between;
}
.bold {
    font-weight: 600;
}
.container{
    /*background-color: red;*/
    max-width: 1000px;
    width: 100%; /* faut le mettre et faut l'admettre */
    margin: auto;
    
}
.btn {
    background-color: #F66909;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
}
.btn:hover{
    background-color: #00c4b4;
    border-radius: 4px;
    padding: 10px;
    color: white;
    display: inline-block;
    margin-top: 15px;
    transition: 0.3s;
}
h3 {
    width: 100%;
    margin-top: 30px;
    color: #593E26;
    font-size: 32px;
    font-weight: 600;
    
}
h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    color: #1E150C;
    ;
}
.marginTopBottom {
    margin-top: 15px;
    margin-bottom: 15px;
}
.marginBottom{
    margin-bottom: 15px;
}
.paddingSectionUP{
    padding: 15px 0px;
}
.paddingSectionDown{
    padding: 0px 0px 10px 10px;
}
.width100{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}

/*HEADER */
header {
    /*background-color: aqua;*/
    padding: 15px 10px;
}

a {
   text-decoration: none; 
   color: rgb(0, 0, 0);
}
li {
    list-style: none;
}
.navHeader {
    /*background-color: aquamarine;*/
    width: 50%;
}
.alignItemCenter {
    align-items: center;
}
.panier {
    color: #F3C827;
    font-size: 25px;
}
.panier:hover{
    font-size: 30px;
    transition: 0.2s;
    color: #593E26
}
/* hero*/
.hero {
 height: 100vh;
}
h2{
    font-family: "WindSong", cursive;
    font-size: 130px;
    font-weight: 500;
    color: #593E26;
    ;

}
h1{
    font-size: 32px;
    color: #593E26;

}
.btnheader{
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px;

}
.btnheader:hover{
    background-color: #eaeaea;
    border-radius: 4px;
    padding: 10px;
    transition: 0.3s;
}
/*Engagement*/
.engagement p {
 width: 45%;
 margin-top: 15px;
 margin-bottom: 15px;
}
.width30{
    width: 30%;
}
/*bienfait du miel*/

/*no class*/

/* nos produit*/

.card{
	width: 300px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.imgcard {
	display: block;
	width: 267px;
    height: 280px;
    width: 100%;
}
.paddingCard{
    padding-left: 10px;
    padding-right: 10px;
}
.basketCard{
    color: white;
}
/*Avis*/
.starAside{
    align-content: flex-start;
}
.fontAvis{
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    margin-top: 10px;
}
.width50{
    width: 50%;
}
.width25{
    width: 25%;
}
.fontName{
    font-weight: 800;
    font-size: 20px;
}
.marginLeft{
    margin-left: 10px;
}
/* nous trouver*/
.localisation{
    justify-content: center;
}
.laRuche{
    font-weight: 600;
    font-size: 24px;
    justify-content: center;
    color: #1E150C;
    ;
}
.fontAdress{
    font-weight: 500;
    font-size: 16px;
}
/*nous contacter*/
.block{
    display: flex;
    align-content: flex-start;
}
.betweenVerticale{
    display: flex;
    justify-content: space-evenly;
}
.marginTop {

}